.by{
    color:darkcyan;
    background-color:aqua;
    min-height: calc(100vh - 60px);
}
.h1By{
    margin-left: 8%;
}
.linhaAviso{
    justify-items: center;
    border: 2px solid darkcyan;
    border-radius: 10px;
    width:30%;
}